.home{
    background: url(../../Resources/images/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

.banner--container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner--text{
    font-size: 3rem;
    line-height: 4rem;
    color: #fff;
    font-weight: 100;
    text-shadow: 0 1rem 3rem rgba(0,0,0,.175);  
}